<form>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Codigo Acercamiento">
          </mat-form-field>
          <br>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Descripcion Acercamiento">
          </mat-form-field>
          <br>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirmar Cupo">
            <h2>(S/N)</h2>
          </mat-form-field>
          <br>
          <br>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
    </form>
    